# System files
# ------------

Icon
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
# ---------------

/media/*
!/media/index.html

# Lock files
# ---------------

.lock

# Editors
# ---------------

*.sublime-workspace
/.vscode
/.idea

# Local Kirby config (secrets, debug)
# -----------------------------------

/site/config/config.local.php

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------

/site/config/.license
/site/config/config.starterkit.test.php
